body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
h1 {
  font-size: 50px;
}
p {
  opacity: 75%;
}
#exp {
  margin-left: 3%;
}
h2 {
  font-size: 40px;
}
.orange {
  color: orangered;
}
.flexible-container {
  display: flex;
  margin-bottom: 5%;
}
.half-width {
  width: 50%;
  padding: 2%;
  padding-left: 5%;
  text-align: justify;
}
.half-width img {
  width: 90%;
  padding-top: 5%;
  transition: 0.4s;
}
.half-width img:hover {
  transform: scale(1.1);
  z-index: 2;
}
.button {
  text-decoration: none;
  background-image: linear-gradient(tomato, orangered);
  color: aliceblue;
  font-weight: 600;
  padding: 10px 40px;
  border-radius: 8px;
  transition: 0.5s;
}
.button:hover {
  font-size: large;
}

.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.middle-banner {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 8%;
  margin: 0;
}

.box-item {
  box-shadow: 10px 10px 50px gray;
  width: 45%;
  padding-left: 35px;
  padding-right: 35px;
  margin-left: 3%;
  margin-right: 3%;
  text-align: justify;
  border-radius: 15px;
}
.bottom-banner {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 80px;
}
#left-box {
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
  transition: 1s;
}
#left-box:hover {
  background-color: rgb(253, 235, 213);
  transform: scale(1.1);
  z-index: 2;
}
#right-box {
  border-left: 7px solid;
  border-image: linear-gradient(rgb(17, 21, 243), rgb(255, 4, 159));
  border-image-slice: 1;
  transition: 1s;
}
#right-box:hover {
  background-color: rgb(209, 243, 233);
  transform: scale(1.1);
  z-index: 2;
}
footer p {
  text-align: center;
  opacity: 60%;
}
